<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Paladin Dashboard</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="styles/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
</head>
<body ng-app="tabApp">
  <div class="wrapper" ng-controller="TabController">
    <aside class="switchbar">
      <div class="switchbar__logo">
        <img src="images/paladin-logo.png" alt="">
      </div>
      <div class="switchbar__item switchbar__item--insights" ng-click="setTab(1)" ng-class="{ active: isSet(1) }">
        <?xml version="1.0" encoding="UTF-8"?>
          <svg width="24px" height="34px" viewBox="0 0 24 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: sketchtool 43.2 (39069) - http://www.bohemiancoding.com/sketch -->
              <title>5E3DFBD8-CCE9-4F64-B701-082922B92F63</title>
              <desc>Created with sketchtool.</desc>
              <defs></defs>
              <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="01_Locator-E" transform="translate(-28.000000, -432.000000)" fill="#0083CA">
                      <g id="Menu">
                          <g id="Items" transform="translate(0.000000, 80.000000)">
                              <g id="Insights" transform="translate(16.000000, 350.816903)">
                                  <g id="icon" transform="translate(12.494835, 1.041946)">
                                      <path d="M14.6014773,20.2197059 L14.6014773,22.8177078 C19.4188023,21.4654299 22.9510223,17.041043 22.9510223,11.7916618 C22.9510223,5.46743685 17.824225,0.340639559 11.5,0.340639559 C5.17577504,0.340639559 0.0489777475,5.46743685 0.0489777475,11.7916618 C0.0489777475,17.0727643 3.62401627,21.5188719 8.48599461,22.8418858 L8.48599461,20.1782731 C5.13461678,18.9182637 2.75,15.6834415 2.75,11.8916622 C2.75,7.00394195 6.71228014,3.04166181 11.6000004,3.04166181 C16.4877206,3.04166181 20.4500008,7.00394195 20.4500008,11.8916622 C20.4500008,15.7257448 18.0118788,18.9903735 14.6014773,20.2197059 Z" id="Combined-Shape" fill-rule="nonzero"></path>
                                      <rect id="Rectangle-12" transform="translate(11.500000, 26.044641) rotate(-270.000000) translate(-11.500000, -26.044641) " x="10.4" y="20.5446408" width="2.20000005" height="11"></rect>
                                      <rect id="Rectangle-12-Copy-3" transform="translate(11.500000, 19.444641) rotate(-180.000000) translate(-11.500000, -19.444641) " x="10.4" y="13.9446407" width="2.20000005" height="11"></rect>
                                      <rect id="Rectangle-12-Copy-4" transform="translate(11.500000, 14.744208) rotate(-90.000000) translate(-11.500000, -14.744208) " x="10.4" y="11.244208" width="2.20000005" height="7"></rect>
                                      <rect id="Rectangle-12-Copy" transform="translate(11.500000, 29.244641) rotate(-270.000000) translate(-11.500000, -29.244641) " x="10.4" y="24.7446408" width="2.20000005" height="9"></rect>
                                      <rect id="Rectangle-12-Copy-2" transform="translate(11.500000, 32.444641) rotate(-270.000000) translate(-11.500000, -32.444641) " x="10.4" y="28.9446409" width="2.20000005" height="7"></rect>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
          </svg>
        insights
      </div>
      <div class="switchbar__item switchbar__item--is-disabled" >
        <?xml version="1.0" encoding="UTF-8"?>
          <svg width="33px" height="33px" viewBox="0 0 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: sketchtool 43.2 (39069) - http://www.bohemiancoding.com/sketch -->
              <title>0BAC587E-9256-4077-B99B-3F41CF984DA8</title>
              <desc>Created with sketchtool.</desc>
              <defs></defs>
              <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="01_Locator-E" transform="translate(-23.000000, -345.000000)" fill="#0083CA">
                      <g id="Menu">
                          <g id="Items" transform="translate(0.000000, 80.000000)">
                              <g id="Rights" transform="translate(21.000000, 263.289720)">
                                  <g id="icon" transform="translate(2.000000, 1.000000)">
                                      <path d="M16.9506705,30.7441845 C24.5722,30.7441845 30.7506705,24.565714 30.7506705,16.9441845 C30.7506705,9.32265495 24.5722,3.14418449 16.9506705,3.14418449 C9.32914094,3.14418449 3.15067049,9.32265495 3.15067049,16.9441845 C3.15067049,24.565714 9.32914094,30.7441845 16.9506705,30.7441845 Z M16.9506705,32.9441845 C8.11411449,32.9441845 0.950670486,25.7807405 0.950670486,16.9441845 C0.950670486,8.1076285 8.11411449,0.944184493 16.9506705,0.944184493 C25.7872265,0.944184493 32.9506705,8.1076285 32.9506705,16.9441845 C32.9506705,25.7807405 25.7872265,32.9441845 16.9506705,32.9441845 Z" id="Combined-Shape" fill-rule="nonzero"></path>
                                      <path d="M21.9440994,14.7143939 L21.9440994,31.2550674 L19.7440993,31.2550674 L19.7440993,18.3089849 L10.7976016,18.3089849 L14.4665499,14.5978269 L10.7976016,11.1198029 L21.9440994,11.1198029 L21.9440994,14.7143939 Z" id="Combined-Shape"></path>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
          </svg>
        rights
      </div>
      <div class="switchbar__item switchbar__item--locator" ng-click="setTab(2)" ng-class="{ active: isSet(2) }">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33">
            <g fill="none" fill-rule="evenodd" transform="translate(0 .636)">
                <path fill="#62B846" fill-rule="nonzero" d="M16 29.8c7.622 0 13.8-6.178 13.8-13.8 0-7.622-6.178-13.8-13.8-13.8C8.378 2.2 2.2 8.378 2.2 16c0 7.622 6.178 13.8 13.8 13.8zm0 2.2C7.163 32 0 24.837 0 16S7.163 0 16 0s16 7.163 16 16-7.163 16-16 16z"/>
                <path fill="#62B846" fill-rule="nonzero" d="M20.88 5.998A11.201 11.201 0 0 0 16.241 5C10.033 5 5 10.033 5 16.242c0 6.209 5.033 11.242 11.242 11.242 6.209 0 11.242-5.033 11.242-11.242 0-1.654-.357-3.225-.999-4.639a4.01 4.01 0 0 1-1.821 1.34 9.042 9.042 0 1 1-5.125-5.124 4.01 4.01 0 0 1 1.34-1.821z"/>
                <circle cx="23.348" cy="9.165" r="2.494" fill="#FEB43A"/>
                <path fill="#62B846" fill-rule="nonzero" d="M16.224 20.249a4.024 4.024 0 1 0 0-8.049 4.024 4.024 0 0 0 0 8.049zm0 2.2a6.224 6.224 0 1 1 0-12.449 6.224 6.224 0 0 1 0 12.449z"/>
                <path fill="#62B846" d="M15 1h2.2v29.935H15z"/>
                <path fill="#62B846" d="M31.6 15.4v2.2H.6v-2.2z"/>
            </g>
        </svg>
        locator
      </div>
      <div class="switchbar__item switchbar__item--network " ng-click="setTab(3)" ng-class="{ active: isSet(3) }">
        <?xml version="1.0" encoding="UTF-8"?>
          <svg width="36px" height="35px" viewBox="0 0 36 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: sketchtool 43.2 (39069) - http://www.bohemiancoding.com/sketch -->
              <title>3E0E5810-92C7-4462-8ECE-A265BCF8F948</title>
              <desc>Created with sketchtool.</desc>
              <defs></defs>
              <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="01_Locator-E" transform="translate(-22.000000, -81.000000)" fill="#0083CA">
                      <g id="Menu">
                          <g id="Items" transform="translate(0.000000, 80.000000)">
                              <g id="Networks" transform="translate(14.000000, 0.311340)">
                                  <g id="icon" transform="translate(8.000000, 0.000000)">
                                      <circle id="Oval" cx="18.0107422" cy="13.9165016" r="3.16489202"></circle>
                                      <path d="M9.41544343,26.9950031 C9.51691066,26.8275787 9.72824545,26.5120672 10.0403714,26.0985683 C10.5659643,25.4022724 11.1751025,24.7052188 11.8568702,24.0574141 C16.4027215,19.7380188 21.2807606,19.7380188 26.6596161,27.0752406 L28.4339116,25.7745195 C22.2119886,17.2872811 15.7880761,17.2872811 10.3414671,22.4625619 C9.566001,23.1993974 8.87870677,23.985887 8.28446018,24.7731342 C7.92468251,25.2497612 7.6722899,25.6265698 7.53399761,25.8547569 L9.41544343,26.9950031 Z" id="Path-9" fill-rule="nonzero"></path>
                                      <path d="M15.8845793,3.77920853 L3.87344907,15.7903388 C2.6919749,16.971813 2.69920175,18.8684172 3.87344907,20.0426645 L15.8845793,32.0537948 C17.0660535,33.2352689 18.9626577,33.2280421 20.136905,32.0537948 L32.1480353,20.0426645 C33.3295095,18.8611903 33.3222826,16.9645861 32.1480353,15.7903388 L20.136905,3.77920853 C18.9554309,2.59773436 17.0588267,2.60496121 15.8845793,3.77920853 Z M21.69254,2.22357361 L33.7036702,14.2347039 C35.7387553,16.269789 35.7426215,19.5593481 33.7036702,21.5982994 L21.69254,33.6094297 C19.6574549,35.6445148 16.3678957,35.648381 14.3289444,33.6094297 L2.31781415,21.5982994 C0.282729078,19.5632143 0.278862853,16.2736552 2.31781415,14.2347039 L14.3289444,2.22357361 C16.3640295,0.188488541 19.6535887,0.184622315 21.69254,2.22357361 Z" id="Rectangle" fill-rule="nonzero"></path>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
          </svg>
        network
      </div>
      <div class="switchbar__item switchbar__item--campaigns"><?xml version="1.0" encoding="UTF-8"?>
        <svg width="35px" height="30px" viewBox="0 0 35 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: sketchtool 43.2 (39069) - http://www.bohemiancoding.com/sketch -->
            <title>D56E8F89-ACB0-4B26-8BAA-839EBBF463E0</title>
            <desc>Created with sketchtool.</desc>
            <defs></defs>
            <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="01_Locator-E" transform="translate(-22.000000, -171.000000)" fill-rule="nonzero" fill="#0083CA">
                    <g id="Menu">
                        <g id="Items" transform="translate(0.000000, 80.000000)">
                            <g id="Campaigns" transform="translate(0.000000, 89.963073)">
                                <g id="icon" transform="translate(22.500000, 0.057159)">
                                    <path d="M9.535689,12.3183266 L15.5429553,2.01444726 C16.3708639,0.594388653 18.4243513,0.599545589 19.2451171,2.02374452 L24.5492622,11.2275369 L22.8388932,12.5447075 L17.3913416,3.09207525 L11.1318953,13.8285029 L9.535689,12.3183266 Z M0.88458897,27.1570047 L0.795846908,27.3092183 C-0.0357408478,28.7355875 0.993152536,30.526429 2.64423322,30.526429 L31.9687171,30.526429 C33.6150192,30.526429 34.6445198,28.7449033 33.8224925,27.3185156 L28.1872562,17.5402113 L26.492884,18.8851398 L31.9687171,28.3868463 L2.64423322,28.3868463 L7.12197485,20.7064627 L7.09915632,20.6888613 L0.88458897,27.1570047 Z" id="Combined-Shape"></path>
                                    <polygon id="Path-4" points="11.3215934 21.2568526 16.9534213 15.9084052 20.5842537 20.2720021 33.730769 9.80112862 32.3601416 8.08026235 20.8980442 17.2095388 17.1419309 12.6953772 11.3971138 18.1511284 7.35069965 13.9156809 0.389357198 20.7469646 1.93025462 22.3171987 7.30019277 17.0475871"></polygon>
                                    <polygon id="Path-5" points="31.7571193 13.2706251 33.9506261 13.4395267 34.3941348 7.67972813 28.6874178 7.18045508 28.4956751 9.37208341 32.0334768 9.68160095"></polygon>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        campaigns
      </div>
    </aside>
    <div class="content-wrapper">
      <nav class="navbar">
        <div class="navbar__main-row">
          <h1 class="navbar__title">Locator</h1>
        </div>
        <div class="navbar__admin-area">
          <a href="#" class="navbar__admin-area--menu">Admin</a>
        </div>
        <div class="navbar__user-menu">
          <div class="navbar__notification navbar__notification--available">
            <img src="images/notification.svg" alt="">
          </div>   
          <div class="navbar__user-thumbnail">
            
          </div>
        </div>
      </nav>
      <section class="main-content" ng-show="isSet(1)">
        <sidebar class="search-sidebar">
          <div class="sidebar-actions">
            <h1 class="search-sidebar__result-header">
              Projects(12)
            </h1>
            <a href="#" class="btn btn-add">
              new
            </a>
            <input type="text" class="search-input" placeholder="Search for projects">
          </div>
          <ul class="sidebar-results">
            <li class="sidebar-results__item">Cars under $10,000</li>
            <li class="sidebar-results__item">Cadillac Content Creators</li>
            <li class="sidebar-results__item">Coca-Cola</li>
          </ul>
        </sidebar>
        <main class="site-content">
          <div class="site-content__header">
            <h1 class="site-content__title">
              Cadillac ATS
            </h1>
            <div class="site-content__generated">
              <p>generated</p>
              <p class="date">12/05/2017</p>
            </div>
            <button class="btn btn-refresh"></button>
            <div class="site-content__actions">
              <button class="btn btn-export">Export as CSV</button>
              <button class="btn btn-back-to-search">Export as CSV</button>
            </div>
          </div>
          <div class="site-content__filters">
            <div class="site-content__filter">
              <label>Views</label>
              <select name="first" class="small">
                <option value="">a</option>
                <option value="">b</option>
                <option value="">x</option>

              </select>
            </div>
            <div class="site-content__filter">
              <label>Subscribers</label>
              <select name="first" class="small">
                <option value="">a</option>
                <option value="">b</option>
                <option value="">x</option>

              </select>
            </div>
            <div class="site-content__filter">
              <label>Videos</label>
              <select name="first" class="small">
                <option value="">a</option>
                <option value="">b</option>
                <option value="">x</option>

              </select>
            </div>
            <div class="site-content__filter">
              <label>Sort</label>
              <select name="first" class="large">
                <option value="">a</option>
                <option value="">b</option>
                <option value="">x</option>

              </select>
            </div>
            <div class="site-content__filter">
              <label>Favorites/Hidden</label>
              <select name="first" class="large" >
                <option value="">a</option>
                <option value="">b</option>
                <option value="">x</option>

              </select>
            </div>
            <div class="site-content__filter">
              <label>Keyword</label>
              <input type="text" class="search-input">
            </div>
          </div>
          <div class="statistics">
            <div class="statistics__element">
              <p class="statistics__counter">243</p>
              <p class="statistics__title">channels</p>
            </div>
            <div class="statistics__element">
              <p class="statistics__counter">83,234,111</p>
              <p class="statistics__title">Total views</p>
            </div>
            <div class="statistics__element">
              <p class="statistics__counter">92,143</p>
              <p class="statistics__title">Total subscribers</p>
            </div>
            <div class="statistics__element">
              <p class="statistics__counter">23,143</p>
              <p class="statistics__title">total videos</p>
            </div>
            <div class="statistics__element">
              <p class="statistics__counter">100,213,243</p>
              <p class="statistics__title">avg views/video</p>
            </div>
          </div>
        </main>
      </section>
      <section ng-show="isSet(2)">
        <h1>Locator</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur possimus cum impedit doloribus obcaecati quis. Odio porro assumenda nostrum, nisi, eos quibusdam adipisci tempore cumque repellendus ullam reprehenderit, velit eligendi.</p>
      </section>
      <section ng-show="isSet(3)">
        <h1>Network</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur possimus cum impedit doloribus obcaecati quis. Odio porro assumenda nostrum, nisi, eos quibusdam adipisci tempore cumque repellendus ullam reprehenderit, velit eligendi.</p>
      </section>
    </div>  

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  <script src="js/app.js"></script>
  <script>
    $('select').select2()
  </script>
</body>
</html>