*
  box-sizing: border-box
html, body
  height: 100%
  font-size: 62.5%
  box-sizing: border-box
body
  margin: 0
  padding: 0
  font-family: 'Helvetica Neue', sans-serif
  font-size: 1.6rem
  box-sizing: border-box
.wrapper
  display: flex
  flex-direction: row
  height: 100%
.content-wrapper
  order: 1
  width: 100%
.main-content
  background: #f6f8fb
  display: flex
  flex: 2
  height: calc(100% - 60px)
.navbar
  background-color: #005dac
  display: flex
  flex-direction: row
  height: 60px
  flex: 1
  order: 2
  &__main-row
    padding-left: 19px
    color: #FFFFFF
    flex: 1 
    display: flex
    justify-content: flex-start
    align-items: center
    max-width: 260px
  &__title
    color: #FFFFFF
    font-size: 2.4rem
  &__admin-area
    max-width: 150px
    flex: 1
    display: flex
    align-items: center
    justify-content: center
    border-left: 1px solid #186CB4
    border-right: 1px solid #186CB4
    &--menu
      font-size: 1.4rem
      font-weight: 600
      color: #FFFFFF
      position: relative
      cursor: pointer
      text-decoration: none
      &:after
        content: ''
        position: absolute
        right: -1.5rem
        top: 50%
        width: 0
        height: 0
        border-style: solid
        border-width: 5px 5px 0 5px
        border-color: #0075b8 transparent transparent transparent
  &__user-menu
    padding: 20px 40px
    display: flex
    justify-content: center
    align-items: center
    margin-left: auto
  &__notification
    max-width: 30px
    position: relative
    &--available:after
      content: ''
      width: 8px
      height: 8px 
      border-radius: 50%
      background-color: red
      top: -6px
      right: -6px
      position: absolute
  &__user-thumbnail
    width: 28px
    height: 28px
    margin-left: 2rem
    border-radius: 50%
    background-color: gray
    cursor: pointer

.switchbar
  width: 80px
  background: #04284B
  display: flex
  flex-direction: column
  z-index: 2
  order: 1
  &__logo
    background-color: #0c1e30
    height: 60px
    justify-content: center
    display: flex
    align-items: center
  &__item
    border-top: 1px solid #195d9c
    font-size: 1rem
    text-transform: uppercase
    padding: 1.8rem 0
    height: 86px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    color: #0083ca
    cursor: pointer
    path, circle
      fill: #0083ca
    &--is-disabled
      color: #024271
      svg *
        fill: #024271
    &:hover:not(&--is-disabled)
      color: #62B846
      background-color: #0c1e30
    &--insights
      &:hover, &.active
        path
          fill: #FDB348
        rect
          fill: #65B64D
    &--campaigns
      &:hover, &.active
        polygon
          fill: #feb43a
    &--network
      &:hover, &.active
        #Path-9, circle
          fill: #feb43a
    &--locator
      &:hover, &.active
        circle 
          fill: #feb43a
  &__item-icon
    max-width: 30px
.search-sidebar
  display: flex
  max-width: 260px
  background: #FFFFFF
  flex-direction: column
  height: 100%
  &__result-header
    font-size: 29px
    font-weight: 300
    color: #8fa2b5
.sidebar-results
  padding: 0
  list-style-type: none
  font-size: 14px
  font-weight: 500
  line-height: 1.71
  color: #3f6487
  &__item
    cursor: pointer
    padding: 10px 19px 14px 
    border-bottom: 1px solid #e9ecef
    &--expanded
      background-color: red
  &__collapsed-content


.sidebar-actions
  padding: 0 19px
  display: flex
  flex-wrap: wrap
  align-items: center
  width: 100%


.site-content 
  flex: 1
  &__header 
    display: flex
    justify-content: flex-start
    align-items: center
    padding: 25px 20px 
    border-bottom: 1px solid #e9ecef
  &__title
    margin: 0
    font-size: 30px
    font-weight: 300
    color: #395f83
  &__generated
    margin-left: 18px
    margin-right: 18px
    p 
      font-size: 12px
      font-weight: bold
      color: #b3bec9
      margin: 0
      &.date
        color: #0083ca
  &__actions
    margin-left: auto
  &__filters
    display: flex
    padding: 25px 20px
    justify-content: space-between
  &__filter
    display: flex
    flex-direction: column
    label
      font-size: 12px
      font-weight: 500
      text-transform: uppercase
      color: #395f83
    input[type="text"]
      width: 237px
    select
      border-radius: 3px
      background-image: linear-gradient(to bottom, #fefefe, #eeeff1)
      border: solid 1px #d1d4da
      min-height: 40px
      &.large
        min-height: 40px
        width: 183px
      &.small
        width: 113px
.statistics
  display: flex
  padding: 25px 20px
  &__element
    width: 20%
    padding: 15px 23px
    background-color: #FFFFFF
    border: solid 1px #e9ecef
    display: flex
    flex-direction: column
    &:nth-child(even)
      background-color: #f6f8fb
      min-height: 20px
  &__title
    font-size: 12px
    font-weight: 600
    color: #8fa2b5
    margin: 0
  &__counter
    font-size: 24px
    margin: 0
    font-weight: 500
    color: #395f83
// Overrides
.select2-container--default .select2-selection--single
  border-radius: 3px
  background-image: linear-gradient(to bottom, #fefefe, #eeeff1)
  border: solid 1px #d1d4da
.select2-container .select2-selection--single
  height: 40px
.select2-container--default .select2-selection--single .select2-selection__rendered
  line-height: 40px

.select2-container--default .select2-selection--single .select2-selection__arrow, 
  top: 7px
  b 
    border-color: #0075b8 transparent transparent transparent
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow
  b
    border-color: transparent transparent #0075b8  transparent

// Separate this later

.btn
  background-color: transparent
  cursor: pointer
.btn-add
  font-size: 12px
  font-weight: 500
  color: #0d6ebe
  position: relative
  text-transform: uppercase
  text-decoration: none
  margin-left: auto
  &:before
    content: '+'
    position: absolute
    left: -10px 
.btn-refresh
  padding: 25px
  border-radius: 3px
  background-image: url('../images/btn-refresh.png'), linear-gradient(to bottom, #fefefe, #eeeff1)
  background-repeat: no-repeat
  background-position: 50% 50%
  border: solid 1px #d1d4da
.btn-export
  padding: 15px 30px
  font-size: 14px
  font-weight: 600
  text-align: center
  color: #0083ca
  border-radius: 3px
  border: 1px solid #d1d4da
  background-image: url('../images/arrow-up.svg'), linear-gradient(to bottom, #fefefe, #eeeff1)
  background-repeat: no-repeat
  background-position: 5% 50%
.btn-back-to-search
  padding: 15px 30px
  font-size: 14px
  font-weight: 600
  text-align: center
  color: #FFFFFF
  border-radius: 3px
  background-image: url('../images/arrow-left.svg'), linear-gradient(to bottom, #0083ca, #0075b8)
  border: solid 1px #0077ba
  background-repeat: no-repeat
  background-position: 5% 50%
.search-input
  height: 40px
  font-size: 12px
  font-style: italic
  line-height: 1.83
  padding-left: 35px
  border: solid 1px #d1d4da
  border-radius: 3px
  width: 100%
  color: #b7c1cf
  background-image: url('../images/icon-search.png')
  background-repeat: no-repeat
  background-position: 10px 50%
  box-shadow: inset 0px 1px 5px 0px #d1d4da

